<footer class="section footer-classic context-dark bg-image" style="background: #2d3246; padding-top:20px; padding-bottom:20px; color: white;">
    <div class="container">
        <div class="row justify-content-center">
            <strong class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>Argupedia - Individual Project</span>.</strong>
        </div>
        <div class="row justify-content-center">
            <strong></span><span>A K M Naharul Hayat, 1750583, K1764014</span></strong>
        </div>
    </div>
</footer>