<footer class="section footer-classic context-dark bg-image" style="background: #2d3246; padding-top:20px; color: white;">
        <div class="container">
          <div class="row justify-content-center">
              <div class="pr-xl-4"><a class="brand" href="index.html"></a>
                <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>Argupedia - Individual Project</span><span>.</p>
                  <p></span><span>A K M Naharul Hayat, 1750583, K1764014</span></p>
              </div>
            </div>
          </div>
        </div>
</footer>