{% extends 'base.html' %}
{% block title %}Choose Scheme{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center my-3">
            <h3>Select Argumentation Scheme</h3>
        </div>


        <div class="row justify-content-center">
            <a href="#" class="btn btn-dark btn-lg active mb-4">Create a Debate Topic</a>

        </div>
        <div class="row justify-content-center">
            <a href="#" class="btn btn-dark btn-lg active mb-4">Create a Debate Topic</a>

        </div>


    </div>
{% endblock %}