{% extends 'base.html' %}
{% block title %}Choose Scheme{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center my-3">
            <h3>Select Argumentation Scheme</h3>
        </div>
        {% for scheme in schemes %}
            <div class="row justify-content-center">
                <a href="{% if is_create == '1' %} {% url 'create-post-view' pk_scheme=scheme.pk %} {% else %} # {% endif %}"
                   class="btn btn-dark btn-lg active mb-2">{{ scheme.scheme_name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}